.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



#about-me {
  background-color: #f7f7f7;
  padding: 100px 0;
}

#about-me .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#about-me h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

#about-me img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

#about-me p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

#about-me button {
  background-color: #ff7f50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

#about-me button:hover {
  background-color: #ff6347;
}



#Skills {
  background-color: #f7f7f7;
  padding: 100px 0;
}

#Skills .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

#Skills h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.Skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Skills {
  width: 45%;
  margin-bottom: 30px;
}

.Skill-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.Skill-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .Skill {
    width: 100%;
  }
}




/*Adding about,contact,project etc headers horizontal */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
